<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="sheet.css">
<style type="text/css">
    .ritz .waffle a {
        color: inherit;
    }

    .ritz .waffle .s5 {
        border-left: none;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s33 {
        border-bottom: 3px SOLID #000000;
        border-right: 3px SOLID #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s18 {
        border-left: none;
        border-bottom: 1px DASHED #000000;
        background-color: #ff9900;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s14 {
        border-bottom: 1px DASHED #000000;
        border-right: 1px DASHED #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s16 {
        border-bottom: 1px DASHED #000000;
        border-right: 3px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s10 {
        border-right: none;
        border-bottom: 1px DASHED #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s34 {
        border-bottom: 3px SOLID #000000;
        border-right: 1px DASHED #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s3 {
        border-right: 1px DASHED #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s32 {
        border-bottom: 3px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s13 {
        border-bottom: 1px DASHED #000000;
        border-right: 3px SOLID #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s25 {
        border-right: 3px SOLID #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s22 {
        border-right: none;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s23 {
        border-left: none;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s6 {
        border-right: 1px SOLID #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s8 {
        border-right: 1px DASHED #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s11 {
        border-left: none;
        border-bottom: 1px DASHED #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s2 {
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s24 {
        border-right: 1px SOLID #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s19 {
        border-bottom: 1px DASHED #000000;
        border-right: 1px SOLID #000000;
        background-color: #ff9900;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s21 {
        border-bottom: 1px DASHED #000000;
        border-right: 1px DASHED #000000;
        background-color: #ff9900;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s1 {
        border-bottom: 1px SOLID #000000;
        border-right: 3px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s4 {
        border-right: none;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s28 {
        border-bottom: 3px SOLID #000000;
        border-right: 3px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s17 {
        border-right: none;
        border-bottom: 1px DASHED #000000;
        background-color: #ff9900;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s26 {
        border-right: 1px DASHED #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s27 {
        border-bottom: 3px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s29 {
        border-bottom: 3px SOLID #000000;
        border-right: 1px DASHED #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s20 {
        border-bottom: 1px DASHED #000000;
        border-right: 3px SOLID #000000;
        background-color: #ff9900;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s9 {
        border-right: 3px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s15 {
        border-bottom: 1px DASHED #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s0 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s30 {
        border-right: none;
        border-bottom: 3px SOLID #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s7 {
        border-right: 3px SOLID #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s12 {
        border-bottom: 1px DASHED #000000;
        border-right: 1px SOLID #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s31 {
        border-left: none;
        border-bottom: 3px SOLID #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }
</style>
<div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="row-header freezebar-origin-ltr"></th>
                <th id="1401076257C0" style="width:100px;" class="column-headers-background">A</th>
                <th id="1401076257C1" style="width:100px;" class="column-headers-background">B</th>
                <th id="1401076257C2" style="width:100px;" class="column-headers-background">C</th>
                <th id="1401076257C3" style="width:100px;" class="column-headers-background">D</th>
                <th id="1401076257C4" style="width:100px;" class="column-headers-background">E</th>
                <th id="1401076257C5" style="width:100px;" class="column-headers-background">F</th>
                <th id="1401076257C6" style="width:100px;" class="column-headers-background">G</th>
                <th id="1401076257C7" style="width:100px;" class="column-headers-background">H</th>
                <th id="1401076257C8" style="width:100px;" class="column-headers-background">I</th>
                <th id="1401076257C9" style="width:100px;" class="column-headers-background">J</th>
                <th id="1401076257C10" style="width:100px;" class="column-headers-background">K</th>
                <th id="1401076257C11" style="width:100px;" class="column-headers-background">L</th>
                <th id="1401076257C12" style="width:100px;" class="column-headers-background">M</th>
                <th id="1401076257C13" style="width:100px;" class="column-headers-background">N</th>
                <th id="1401076257C14" style="width:100px;" class="column-headers-background">O</th>
                <th id="1401076257C15" style="width:100px;" class="column-headers-background">P</th>
                <th id="1401076257C16" style="width:100px;" class="column-headers-background">Q</th>
                <th id="1401076257C17" style="width:100px;" class="column-headers-background">R</th>
                <th id="1401076257C18" style="width:100px;" class="column-headers-background">S</th>
                <th id="1401076257C19" style="width:100px;" class="column-headers-background">T</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 20px">
                <th id="1401076257R0" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">1</div>
                </th>
                <td class="s0">JAN </td>
                <td class="s0">JAN</td>
                <td class="s0">JAN</td>
                <td class="s1">JAN</td>
                <td class="s0">FEB</td>
                <td class="s0">FEB</td>
                <td class="s0">FEB</td>
                <td class="s1">FEB</td>
                <td class="s0">MAR</td>
                <td class="s0">MAR</td>
                <td class="s0">MAR</td>
                <td class="s1">MAR</td>
                <td class="s0">APR</td>
                <td class="s0">APR</td>
                <td class="s0">APR</td>
                <td class="s1">APR</td>
                <td class="s0">MAY</td>
                <td class="s0">MAY</td>
                <td class="s0">MAY</td>
                <td class="s1">MAY</td>
            </tr>
            <tr style="height: 20px">
                <th id="1401076257R1" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">2</div>
                </th>
                <td class="s2"></td>
                <td class="s3"></td>
                <td class="s4 softmerge">
                    <div class="softmerge-inner" style="width:198px;left:-1px">3 Credit class - Session 1</div>
                </td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s6"></td>
                <td class="s6"></td>
                <td class="s7"></td>
                <td class="s6"></td>
                <td class="s8"></td>
                <td class="s2"></td>
                <td class="s9"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s9"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s9"></td>
            </tr>
            <tr style="height: 20px">
                <th id="1401076257R2" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">3</div>
                </th>
                <td class="s2"></td>
                <td class="s3"></td>
                <td class="s10 softmerge">
                    <div class="softmerge-inner" style="width:198px;left:-1px">3 Credit class - Session 1</div>
                </td>
                <td class="s11"></td>
                <td class="s11"></td>
                <td class="s12"></td>
                <td class="s12"></td>
                <td class="s13"></td>
                <td class="s12"></td>
                <td class="s14"></td>
                <td class="s15"></td>
                <td class="s16"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s2"></td>
                <td class="s9"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s9"></td>
            </tr>
            <tr style="height: 20px">
                <th id="1401076257R3" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">4</div>
                </th>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s9"></td>
                <td class="s2"></td>
                <td class="s3"></td>
                <td class="s17 softmerge" dir="ltr">
                    <div class="softmerge-inner" style="width:198px;left:-1px">4 Credit class - Session 2</div>
                </td>
                <td class="s18"></td>
                <td class="s18"></td>
                <td class="s19"></td>
                <td class="s19"></td>
                <td class="s20"></td>
                <td class="s19"></td>
                <td class="s21"></td>
                <td class="s15"></td>
                <td class="s16"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s2"></td>
                <td class="s9"></td>
            </tr>
            <tr style="height: 20px">
                <th id="1401076257R4" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">5</div>
                </th>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s9"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s9"></td>
                <td class="s2"></td>
                <td class="s3"></td>
                <td class="s22 softmerge">
                    <div class="softmerge-inner" style="width:198px;left:-1px">3 Credit class - Session 3</div>
                </td>
                <td class="s23"></td>
                <td class="s23"></td>
                <td class="s24"></td>
                <td class="s24"></td>
                <td class="s25"></td>
                <td class="s24"></td>
                <td class="s26"></td>
                <td class="s2"></td>
                <td class="s9"></td>
            </tr>
            <tr style="height: 20px">
                <th id="1401076257R5" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">6</div>
                </th>
                <td class="s27"></td>
                <td class="s27"></td>
                <td class="s27"></td>
                <td class="s28"></td>
                <td class="s27"></td>
                <td class="s27"></td>
                <td class="s27"></td>
                <td class="s28"></td>
                <td class="s27"></td>
                <td class="s29"></td>
                <td class="s30 softmerge">
                    <div class="softmerge-inner" style="width:198px;left:-1px">3 Credit class - Session 3</div>
                </td>
                <td class="s31"></td>
                <td class="s31"></td>
                <td class="s32"></td>
                <td class="s32"></td>
                <td class="s33"></td>
                <td class="s32"></td>
                <td class="s34"></td>
                <td class="s27"></td>
                <td class="s28"></td>
            </tr>
        </tbody>
    </table>
</div>