<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="sheet.css">
<style type="text/css">
    .ritz .waffle a {
        color: inherit;
    }

    .ritz .waffle .s23 {
        border-bottom: 3px SOLID #000000;
        border-right: 3px SOLID #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s8 {
        border-bottom: 1px DASHED #000000;
        border-right: 1px DASHED #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s11 {
        border-bottom: 1px DASHED #000000;
        border-right: 3px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s4 {
        border-right: none;
        border-bottom: 1px DASHED #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s24 {
        border-bottom: 3px SOLID #000000;
        border-right: 1px DASHED #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s3 {
        border-right: 1px DASHED #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s22 {
        border-bottom: 3px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s7 {
        border-bottom: 1px DASHED #000000;
        border-right: 3px SOLID #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s15 {
        border-right: 3px SOLID #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s12 {
        border-right: none;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s13 {
        border-left: none;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s5 {
        border-left: none;
        border-bottom: 1px DASHED #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s2 {
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s14 {
        border-right: 1px SOLID #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s1 {
        border-bottom: 1px SOLID #000000;
        border-right: 3px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s18 {
        border-bottom: 3px SOLID #000000;
        border-right: 3px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s16 {
        border-right: 1px DASHED #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s17 {
        border-bottom: 3px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s19 {
        border-bottom: 3px SOLID #000000;
        border-right: 1px DASHED #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s9 {
        border-right: 3px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s10 {
        border-bottom: 1px DASHED #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s0 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s20 {
        border-right: none;
        border-bottom: 3px SOLID #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s6 {
        border-bottom: 1px DASHED #000000;
        border-right: 1px SOLID #000000;
        background-color: #ff0000;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s21 {
        border-left: none;
        border-bottom: 3px SOLID #000000;
        background-color: #ffff00;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }
</style>
<div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="row-header freezebar-origin-ltr"></th>
                <th id="1617996539C0" style="width:100px;" class="column-headers-background">A</th>
                <th id="1617996539C1" style="width:100px;" class="column-headers-background">B</th>
                <th id="1617996539C2" style="width:100px;" class="column-headers-background">C</th>
                <th id="1617996539C3" style="width:100px;" class="column-headers-background">D</th>
                <th id="1617996539C4" style="width:100px;" class="column-headers-background">E</th>
                <th id="1617996539C5" style="width:100px;" class="column-headers-background">F</th>
                <th id="1617996539C6" style="width:100px;" class="column-headers-background">G</th>
                <th id="1617996539C7" style="width:100px;" class="column-headers-background">H</th>
                <th id="1617996539C8" style="width:100px;" class="column-headers-background">I</th>
                <th id="1617996539C9" style="width:100px;" class="column-headers-background">J</th>
                <th id="1617996539C10" style="width:100px;" class="column-headers-background">K</th>
                <th id="1617996539C11" style="width:100px;" class="column-headers-background">L</th>
                <th id="1617996539C12" style="width:100px;" class="column-headers-background">M</th>
                <th id="1617996539C13" style="width:100px;" class="column-headers-background">N</th>
                <th id="1617996539C14" style="width:100px;" class="column-headers-background">O</th>
                <th id="1617996539C15" style="width:100px;" class="column-headers-background">P</th>
                <th id="1617996539C16" style="width:100px;" class="column-headers-background">Q</th>
                <th id="1617996539C17" style="width:100px;" class="column-headers-background">R</th>
                <th id="1617996539C18" style="width:100px;" class="column-headers-background">S</th>
                <th id="1617996539C19" style="width:100px;" class="column-headers-background">T</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 20px">
                <th id="1617996539R0" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">1</div>
                </th>
                <td class="s0">JAN </td>
                <td class="s0">JAN</td>
                <td class="s0">JAN</td>
                <td class="s1">JAN</td>
                <td class="s0">FEB</td>
                <td class="s0">FEB</td>
                <td class="s0">FEB</td>
                <td class="s1">FEB</td>
                <td class="s0">MAR</td>
                <td class="s0">MAR</td>
                <td class="s0">MAR</td>
                <td class="s1">MAR</td>
                <td class="s0">APR</td>
                <td class="s0">APR</td>
                <td class="s0">APR</td>
                <td class="s1">APR</td>
                <td class="s0">MAY</td>
                <td class="s0">MAY</td>
                <td class="s0">MAY</td>
                <td class="s1">MAY</td>
            </tr>
            <tr style="height: 20px">
                <th id="1617996539R1" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">2</div>
                </th>
                <td class="s2"></td>
                <td class="s3"></td>
                <td class="s4 softmerge">
                    <div class="softmerge-inner" style="width:198px;left:-1px">3 Credit class - Session 1</div>
                </td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s6"></td>
                <td class="s6"></td>
                <td class="s7"></td>
                <td class="s6"></td>
                <td class="s8"></td>
                <td class="s2"></td>
                <td class="s9"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s9"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s9"></td>
            </tr>
            <tr style="height: 20px">
                <th id="1617996539R2" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">3</div>
                </th>
                <td class="s2"></td>
                <td class="s3"></td>
                <td class="s4 softmerge">
                    <div class="softmerge-inner" style="width:198px;left:-1px">3 Credit class - Session 1</div>
                </td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s6"></td>
                <td class="s6"></td>
                <td class="s7"></td>
                <td class="s6"></td>
                <td class="s8"></td>
                <td class="s10"></td>
                <td class="s11"></td>
                <td class="s10"></td>
                <td class="s10"></td>
                <td class="s10"></td>
                <td class="s11"></td>
                <td class="s10"></td>
                <td class="s10"></td>
                <td class="s2"></td>
                <td class="s9"></td>
            </tr>
            <tr style="height: 20px">
                <th id="1617996539R3" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">4</div>
                </th>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s9"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s9"></td>
                <td class="s2"></td>
                <td class="s3"></td>
                <td class="s12 softmerge">
                    <div class="softmerge-inner" style="width:198px;left:-1px">3 Credit class - Session 3</div>
                </td>
                <td class="s13"></td>
                <td class="s13"></td>
                <td class="s14"></td>
                <td class="s14"></td>
                <td class="s15"></td>
                <td class="s14"></td>
                <td class="s16"></td>
                <td class="s2"></td>
                <td class="s9"></td>
            </tr>
            <tr style="height: 20px">
                <th id="1617996539R4" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">5</div>
                </th>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s18"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s18"></td>
                <td class="s17"></td>
                <td class="s19"></td>
                <td class="s20 softmerge">
                    <div class="softmerge-inner" style="width:198px;left:-1px">3 Credit class - Session 3</div>
                </td>
                <td class="s21"></td>
                <td class="s21"></td>
                <td class="s22"></td>
                <td class="s22"></td>
                <td class="s23"></td>
                <td class="s22"></td>
                <td class="s24"></td>
                <td class="s17"></td>
                <td class="s18"></td>
            </tr>
        </tbody>
    </table>
</div>