<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="sheet.css">
<style type="text/css">
    .ritz .waffle a {
        color: inherit;
    }

    .ritz .waffle .s5 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ff9900;
        text-align: center;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s0 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s6 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffff00;
        text-align: center;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s1 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ff0000;
        text-align: center;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s4 {
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s2 {
        border-bottom: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s3 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }
</style>
<div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="row-header freezebar-origin-ltr"></th>
                <th id="311468295C0" style="width:100px;" class="column-headers-background">A</th>
                <th id="311468295C1" style="width:100px;" class="column-headers-background">B</th>
                <th id="311468295C2" style="width:100px;" class="column-headers-background">C</th>
                <th id="311468295C3" style="width:100px;" class="column-headers-background">D</th>
                <th id="311468295C4" style="width:100px;" class="column-headers-background">E</th>
                <th id="311468295C5" style="width:100px;" class="column-headers-background">F</th>
                <th id="311468295C6" style="width:100px;" class="column-headers-background">G</th>
                <th id="311468295C7" style="width:100px;" class="column-headers-background">H</th>
                <th id="311468295C8" style="width:100px;" class="column-headers-background">I</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 20px">
                <th id="311468295R0" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">1</div>
                </th>
                <td class="s0" dir="ltr">Session 1</td>
                <td class="s1" dir="ltr" colspan="4">January 11 - March 7</td>
                <td class="s2" dir="ltr"></td>
                <td class="s2" dir="ltr"></td>
                <td class="s3" dir="ltr"></td>
                <td class="s4" dir="ltr"></td>
            </tr>
            <tr style="height: 20px">
                <th id="311468295R1" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">2</div>
                </th>
                <td class="s0" dir="ltr">Session 2</td>
                <td></td>
                <td class="s4" dir="ltr"></td>
                <td class="s5" dir="ltr" colspan="4">February 15 - April 11</td>
                <td class="s2" dir="ltr"></td>
                <td class="s0" dir="ltr"></td>
            </tr>
            <tr style="height: 20px">
                <th id="311468295R2" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">3</div>
                </th>
                <td class="s0" dir="ltr">Session 3</td>
                <td class="s2"></td>
                <td class="s2" dir="ltr"></td>
                <td class="s2" dir="ltr"></td>
                <td class="s0" dir="ltr"></td>
                <td class="s6" dir="ltr" colspan="4">March 15 - May 9</td>
            </tr>
        </tbody>
    </table>
</div>